* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appWrapper {
  display: grid;
  max-width: 1152px;
  margin: auto;
  grid-template-columns: 20%;
  grid-template-areas:
  "header header header header header"
  "menu main main main main";
  grid-gap: 5px;
}


