aside {
	grid-area: sidebar;
	background-color: #333333;
	padding: 30px;
	color: #E3E3E3;
}

aside a {
	list-style: none;
	text-decoration: none;
	color: #E3E3E3;
}

aside ul li {
	list-style: none;
}