.menu {
	grid-area: menu;
	background-color: #333333;
	padding: 30px;
}

.menu a {
	list-style: none;
	text-decoration: none;
	color: #E3E3E3;
	font-size: 24px;
}

.menu a.activeLink {
	color: #55a251;
}

ul li {
	list-style: none;
}