.userData {
    width: 100%;
    margin-bottom: 10px;
}

.userData:before,
.userData:after {
    content: '';
    display: block;
    clear: both;
}

.userData img {
    width: 200px;
    float: left;
    display: block;
    margin-right: 10px;
}

.userInfo {
    display: block;
}